<ActionBar title="Contact Us" class="action-bar">
  <ActionItem icon="res://ic_drawer" ios.position="left" (tap)="openDrawer()"></ActionItem>
</ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="sidedrawer-left">
    <StackLayout horizontalAlign="left">
      <drawer-content></drawer-content>
    </StackLayout>
  </ScrollView>

  <ScrollView tkMainContent orientation="vertical" class="page">
    <GridLayout class="m-5" rows="auto">
      <StackLayout row="0" class="p-10 border">
        <Label class="p-5 h2" text="Contact Information"></Label>
        <Label class="p-30 body" [text]="information" textWrap="true"></Label>
      </StackLayout>
    </GridLayout>
  </ScrollView>
</RadSideDrawer>
