<ActionBar title="About Us" class="action-bar">
  <ActionItem icon="res://ic_drawer" ios.position="left" (tap)="openDrawer()"></ActionItem>
</ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="sidedrawer-left">
    <StackLayout horizontalAlign="left">
      <drawer-content></drawer-content>
    </StackLayout>
  </ScrollView>

  <ScrollView tkMainContent orientation="vertical" class="page">
    <GridLayout class="m-5" rows="auto, auto, *">
      <StackLayout row="0">
        <StackLayout class="p-10 border">
          <Label class="h2" text="Our History"></Label>
          <Label class="body" [text]="history" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>

      <Label row="1" class="p-10 h2" text="Corporate Leadership"></Label>

      <StackLayout row="2">
        <ListView height="600" [items]="leaders" class="list-group p-10" *ngIf="leaders">
          <ng-template let-leader="item">
            <StackLayout orientation="horizontal" class="list-group-item">
              <Image row="0" col="0" height="88" width="88" [src]="baseURL + leader.image" class="thumb img-circle"></Image>
              <StackLayout>
                <Label class="h2" [text]="leader.name"></Label>
                <Label class="h3" [text]="leader.designation"></Label>
                <Label class="body" [text]="leader.description" textWrap="true"></Label>
              </StackLayout>
            </StackLayout>
          </ng-template>
        </ListView>
        <ActivityIndicator busy="true" *ngIf="!(leaders || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
        <Label *ngIf="errMess" textWrap="true" [text]="'Error: ' + errMess"></Label>
      </StackLayout>
    </GridLayout>
  </ScrollView>
</RadSideDrawer>
